:root {
  --color-one: #dd6e42;
  --color-two: #e8dab2;
  --color-three: #4f6d7a;
  --color-four: #c0d6df;
  --color-five: #eaeaea;
  --color-black: #141414;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Abel", sans-serif;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to top, var(--color-four), var(--color-five));
}

.container_input {
  width: 300px;
  height: 250px;
  padding: 10px;
  border-radius: 5px;
  background-color: #f1f1f1;
  box-shadow: 25px 25px 30px 4px rgba(0, 0, 0, 0.125);
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-template-rows: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  gap: 5px 5px;
  background: linear-gradient(45deg, var(--color-one), var(--color-two));
}

.container_input p {
  text-align: right;
  font-size: 18px;
  color: var(--color-black);
}

input[type="range"] {
  width: 80%;
  margin: 0 auto;
  height: 3.5px;
  appearance: none;
  background-color: var(--color-five);
  border-radius: 3px;
  outline: none;
  cursor: pointer;
}

.container_title {
  grid-column: 1 / 3;
  grid-row: 3 / 4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--color-black);
}

.container_title h2 {
  font-size: 60px;
}
